#validationMessage {
    color: red;
    font-weight: bold;
}

.reg-message, .login-message, .edit-message {
    font-weight: bold;
}

.reg-success, .edit-message {
    color: green;
}

.reg-error, .login-error {
    color: red;
}