#validationMessage {
    color: red;
    font-weight: bold;
}

.reg-message, .login-message {
    font-weight: bold;
}

.reg-success {
    color: green;
}

.reg-error, .login-error {
    color: red;
}